body {
  --font-weight: 500;
  font-family: 'Jura', sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight);
  font-size: 16px;
  font-style: normal;

  background-color: #fff;
  color: #575757;

  display: flex;
  justify-content: center;
  text-align: center;
}

.logo {
  font-size: 4em;

  color: black;
}

.nav {
  font-weight: 700;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 0;
  list-style-type: none;
}

.nav li {
  color: #575757;
  font-size: 16px;
  transition: all 500ms ease;
}

.nav li:hover {
  color: black;
}

.page-divider {
  border-bottom: 1px solid #575757;
}

.card {
  display: flex;
  flex-direction: row;

  padding: 10px;
  margin: 10px;
  border: solid 1px #575757;
}

div.card:nth-of-type(2n) .card-image {
  order: 0;
}

div.card:nth-of-type(2n) .card-content {
  order: 1;
}
