body {
  --font-weight: 500;
  font-family: 'Jura', sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight);
  font-size: 16px;
  font-style: normal;

  background-color: #fff;
  color: #575757;

  display: flex;
  justify-content: center;
  text-align: center;
}

.canvas {
  max-width: 1280px;
}

.logo {
  font-size: 4em;

  color: black;
}

.nav {
  font-weight: 700;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 0;
  list-style-type: none;
}

a {
  color: #575757;
}

a:hover {
  color: #bd900a;
}

a:link {
  text-decoration: none;
}

.page-divider {
  border-bottom: 1px solid #575757;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 1em;

  padding: 10px;
  margin: 10px;
  border: solid 1px #575757;
}

.card-content {
  text-align: justify;
}

.card-image img {
  max-width: 200px;
}

@media (max-width: 480px) {
  .card {
    flex-direction: column;
  }

  .card-image {
    order: 0;
  }

  .card-content {
    order: 1;
  }

  .card-image img {
    width: 100%;
    max-width: none;
  }
}

/* Alternating image location on every other card */
div.card:nth-of-type(2n) .card-image {
  order: 0;
}

div.card:nth-of-type(2n) .card-content {
  order: 1;
}
